*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  font-weight: 600;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    padding-left: 120px;
    padding-right: 120px;
  }
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29.5px 16px;
  background: linear-gradient(90deg, #000 0%, #907112 100%);
}

.header__logo {
  font-size: 1.25rem;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.header__link {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

@media (min-width: 768px) {
  .header {
    padding: 25px 119px;
    background: linear-gradient(90deg, #000 0%, #907112 100%);
    display: flex;
  }

  .header__logo {
    font-size: 23px;
    font-weight: 600;
  }
}

/* section1 */

main {
  background-color: #000;
}

.Descobre {
  padding: 112.5px 0;
}

.Descobre-h1 {
  font-weight: 700;
    font-size: 32px;
    text-align: center;
    background: linear-gradient(0deg, #fff0da 1.04%, #94641e 4.17%, #fff2db 82.81%, #eac885 93.75%, #fbf5d1 97.92%, #bd9a4b 99.99%, #ecd8a3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Descobre-h2 {
  font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
  margin: 24px 0;  
}

.Descobre-btn-head {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
    width: 213px;
    height: 49px;
    font-weight: 900;
      font-size: 16px;
      text-align: center;
      color: #000;
      background: linear-gradient(0deg, #fff0da 1.04%, #94641e 4.17%, #fff2db 82.81%, #eac885 93.75%, #fbf5d1 97.92%, #bd9a4b 99.99%, #ecd8a3 100%);
}

.Descobre {
  position: relative;
  padding: 112.5px 0;
  background: url('../IMG/cas.png') center center / cover no-repeat;
  color: #fff;
  margin-bottom: 32px;
}

.Descobre::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.Descobre>.container {
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .Descobre-h1 {
      font-size: 70px;
  }

    .Descobre-h2 {
      font-size: 32px;
      max-width: 703px;
      margin-left: auto;
      margin-right: auto;
    }

}



/* section 2 */

.card-section {
  background-color: #000;
}

.casino-card {
  margin: 0 auto;
  border: 1px solid gold;
  border-radius: 20px;
    padding: 30px 12px;
    width: 343px;
    height: 733px;
  background: linear-gradient(83deg, #412801 0%, #000 100%);
}

.card-section-dark {
  border-radius: 20px 0 0 20px;
    width: 319px;
    height: 310px;
    background: #000;
    margin: 0 auto;
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
}

.classific p {
  font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin: 24px 0 8px 0;
}

.casino-card-avali {
  font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin: 16px 0 24px 0;
}

.dark-img {
  margin-top: 22px;
}

.card-main-h2 {
  font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin: 24px 0 12px 0;
}

.card-main-p {
  font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.casino-card__features {
  margin: 27px 0 24px 0;
}

.casino-card__features li {
  font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.btn-shadow {
  box-shadow: 11px -9px 35px 0 rgba(255, 255, 255, 0.4), inset 13px 15px 23px 0 rgba(22, 11, 2, 0.25), inset -7px -7px 27px 0 rgba(255, 255, 255, 0.15);
}

.card-btn {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
    width: 186px;
    height: 54px;
    background: #000;
    font-weight: 900;
    border: 1px solid goldenrod;    
      font-size: 16px;
      text-align: center;
      background: linear-gradient(0deg, #fff0da 1.04%, #94641e 4.17%, #fff2db 82.81%, #eac885 93.75%, #fbf5d1 97.92%, #bd9a4b 99.99%, #ecd8a3 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;     
}

.card-center {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

@media (min-width: 1290px) {
  .casino-card {
    width: 1200px;
    height: 310px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
  }

  .card-section-dark {
    width: 282px;
      height: 307px;
      margin: 0;
  }

  .Descobre-btn-head {
    margin: 0 auto;
  }

  .card-main-h2 {
    font-size: 35px;
    text-align: left;
    max-width: 501px;
  }

  .card-main-p {
    font-size: 20px;
    width: 580px;
    text-align: left;
  }

  .casino-card__features li {
    font-style: 18px;
  }

  .Descobre-btn {
    width: 215px;
    height: 60px;
    font-size: 21px;
    margin-right: 64px;
  }

  .card-section-right2 {
    margin-left: 24px;
  }

  .card-btn2 {
      width: 215px;
      height: 60px;
        font-size: 21px;
  }
}

/* section 3 */

.section-info {
  margin-top: 32px;
  background-color: #000;
}

.info-item {

}

.info-list {
  display: flex;
  flex-direction: column;
    gap: 24px;
}

.info-item p {
  font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.info-item h2 {
  font-weight: 700;
    font-size: 20px;
    color: #fff;
    margin-bottom: 24px;
}

@media (min-width: 768px) {
  .info-item h2 {
    font-size: 24px;
  }

  .info-item p {
    font-size: 16px;
  }
}

/* section 4 */

.gold-cards {
  margin: 48px 0 0 0;
  padding-bottom: 100px;
}

.gold-cards-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
    /* центрує кожен .gold-cards-item по горизонталі */
    justify-content: center;
    /* якщо треба вирівнювання по вертикалі */
    text-align: center;
}

.gold-cards-item {
  border-radius: 18px;
    width: 305px;
    height: 305px;
    border: 1px solid goldenrod;
    display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 14px;
      align-content: center;
  padding: 0 18px;
}

.gold-cards-item h2 {
  font-weight: 700;
    font-size: 24px;
    text-align: center;
    background: linear-gradient(0deg, #fff0da 1.04%, #94641e 4.17%, #fff2db 82.81%, #eac885 93.75%, #fbf5d1 97.92%, #bd9a4b 99.99%, #ecd8a3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gold-cards-item p {
  font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

@media (min-width: 768px) {
  .gold-cards-items {
    flex-direction: row;
      flex-wrap: wrap;
  }

  .gold-cards-item {
      width: 544px;
      height: 290px; 
  }

    .gold-cards-item h2 {
      font-size: 32px;
    }

  .gold-cards-item p {
    font-size: 16px;
  }  

  .gold-cards {
    padding-bottom: 250px;
  }
}

/* section 6 */

.game-section {
  padding-bottom: 48px;
}

.game-section-items {
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.site-footer {
  background-color: #000;
}

.footer-container {}

.footer-content {
  display: flex;
  flex-direction: column;
    align-items: center;
    padding: 24px 0 52px 0;
    gap: 60px;
}

.footer-info {}

.footer-title {
  font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.footer-paragraph {
  font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-top: 16px;
}

.footer-links-block {}

.footer-links {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-link {
  font-weight: 700;
    font-size: 16px;
    text-align: right;
    color: #fff;
}

.footer-logo-item {
  margin-top: 25px;
}

.footer-link-item {
  
}

.footer-logo {
  font-weight: 600;
    font-size: 23px;
    color: #fff;
}

.goldText {
  font-weight: 900;
    font-size: 24px;
    background: linear-gradient(104deg, #ffb624 0%, #ffd400 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-end {
  font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-top: 24px;
}

@media (min-width: 1290px) {
  .game-section-items {
      flex-direction: row;
      justify-content: center;
    }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }  

  .footer-title {
    font-size: 24px;
    text-align: left;
  }

  .footer-link {
    text-align: left;
    font-size: 18px;
  }

  .footer-paragraph {
    text-align: left;
    width: 868px;
  }

  .footer-links {
    align-items: flex-end;
  }

  .footer-end {
    text-align: right;
  }
}

/* politica */

.politic-cookie-h1 {
  margin: 0 0 8px 0;
  padding-top: 40px;
}

.politic-cookie-h1-p {
  margin-bottom: 48px;
}

.politic-cookie-h2 {
  font-weight: 700;
    font-size: 20px;
    color: #fff;
    margin-bottom: 16px;
    margin-top: 16px;
}

.politic-cookie-h1 {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.politic-cookie-h1-p {
  font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.politic-cookie-p {
  font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.politic-cookie-item {
  font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.politic-cookie-p-last {
  margin-top: 16px;
  font-weight: 400;
    font-size: 16px;
    color: #fff;
}
